<div class="col-10 offset-1">
  <h1>About Splurty</h1>
  <p>
    Splurty was built as a database-powered quotes generator application with a slick, mobile first design. Built with Ruby on Rails, HTML, CSS3, GitHub and Heroku.
  </p>
  <br />
  <p>
    This application is all about the advice of life and a colletion of quotes giving inspiration, humor or motivation. Go ahead, add your favourite quotes!
  </p>
  <h2 class="text-center">Roberto Lombilla</h2>
  <p>
    "Roberto Lombilla is a Web Developer and an expert in problem solving and communicatons skills working with teams developing and building products and tools that are user friendly and people love to use. Visit my coding space on GitHub("<a target="_blank" href="https://github.com/TibuBert" <a>TibuBert</a>") or check his website for his latest projects ("<a target="_blank" href=".." <a>Here</a>"). Happy coding!"
  </p>

</div>

<br class="clear">
</div>
        
</div>